# ignore all files in the node_modules directory
node_modules/

# ignore all files in the build directory
build/

# ignore all HTML files
*.html

# ignore all files that end with .test.js
**/*.test.js

*yml